.true {
  background-color: rgb(19, 19, 19);
  color: white;
  transition: 1s background-color, color;
}

.false {
  transition: 1s background-color, color;
}

.cards-container {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  margin: 2rem 1rem;
  grid-gap: 10px;
}

.spinner {
  margin-top: 2rem;
  font-size: 4rem;
  color: #ec1d24;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.blurCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
}
/* Modal window */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.4rem;
  padding: 1.4rem;
  border-radius: 50%;
  border: none;
  background-color: #dd3339;
  color: rgb(248, 220, 156);
  text-decoration: none;
  outline: none;
}
.anchor-button::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  top: -8px;
  margin-left: 3px;
  background-color: inherit;
  transform: rotatez(45deg);
}
.anchor-button:hover {
  cursor: pointer;
  background-color: #ec1d24;
  color: white;
}

/* switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ec1d24;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4b4b4b;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* searchbar */
.searchbar {
  padding: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  margin-bottom: 4rem;
}

/* responsive movile first */
@media (min-width: 1200px) {
  .cards-container {
    margin: 2rem 4rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media (min-width: 720px) and (max-width: 1199px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    margin: 2rem;
  }
}
